<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Saya sangat menyukai bahasa pemrograman Java, Pascal dan C# , dan senang bermain dengan database MySQL, SQL Server dan SQLite.
                dan sangat senang bermain dengan Rest API atau biasa kita sebut dengan pembuatan API untuk dijadikan JSON sebagai jembatan data
                antar android dengan data online.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Selain itu semua , saya sebenernya juga tertarik dengan hal baru yang berhubungan dengan tekhnologi dan komputerisasi, jadi ga akan
                pernah berhenti untuk selalu belajar hal2 baru.
            </p>
        </div>
    </div>
</section>
