
                Saya sangat menyukai bahasa pemrograman Java, Pascal dan C# , dan senang bermain dengan database MySQL, SQL Server dan SQLite.
                dan sangat senang bermain dengan Rest API atau biasa kita sebut dengan pembuatan API untuk dijadikan JSON sebagai jembatan data
                antar android dengan data online.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Selain itu semua , saya sebenernya juga tertaberhubungan dengan tekhnologi dan kompya juga tertarik dengan hal barujar hal2 baru.
            </p>
        </div>
    </div>
</section>
