<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1> 
        </div>
        <div class="col-md-12">
                <img src="./web-dist/images/portofolio.png" class="img-fluid" alt="Responsive image">
        </div>
        <span></span>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="http://lorempixel.com/640/480/cats/1">
                <img src="http://lorempixel.com/640/480/cats/2">
              </div>
              <div class="item">
                <img data-lazy-load-src="http://lorempixel.com/640/480/cats/3">
                <img data-lazy-load-src="http://lorempixel.com/640/480/cats/4">
              </div>
              <div class="item active">
                <img data-lazy-load-src="http://lorempixel.com/640/480/cats/5">
                <img data-lazy-load-src="http://lorempixel.com/640/480/cats/6">
              </div>
              <div class="item">
                <img data-lazy-load-src="http://lorempixel.com/640/480/cats/7">
                <img data-lazy-load-src="http://lorempixel.com/640/480/cats/8">
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
          </div>
    </div>
</section>
