<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1> 
        </div>
        <div class="col-md-12">
                <col-md-12>
                <img src="./web-dist/images/portofolio.png" class="img-fluid" alt="Responsive image">
                <h1 class="container-top-name">
                    {{ site.brand }}
                </h1>
                <h2 class="container-top-headline">
                    {{ site.headline }}
                </h2> -->
            </col-md-12>
        </div>
    </div>
</section>