<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1> 
        </div>
        <div class="col-md-12">
                <col-md-12>
                <img src="./web-dist/images/portofolio.pdf" class="m-x-auto" alt="{{ site.brand }}">
                <h1 class="container-top-name">
                    {{ site.brand }}
                </h1>
                <h2 class="container-top-headline">
                    {{ site.headline }}
                </h2>
            </col-md-12>
            <!-- <p></p>title: vickyKDV.
            <p></p>email: vickyKDV@gmail.com
            <p></p>brand: NIBIRU
            <p></p>headline: Android App Developer & Desktop App Developer
            <p></p>description: > # this means to ignore newlines until "baseurl:"
              New Site
            baseurl: "" # the subpath of your site, e.g. /blog
            url: "http://https://vickykdv.github.io/" # the base hostname & protocol for your site
            <p>copyright: 2017 NIBIRU, Inc. All Rights Reserved.
            
            # Build settings
            markdown: kramdown
            
            # Account ids
            snapwidget: 247552
            
            # Contacts
            <p>email: vickyKDV@gmail.com</p>
            <p>phone: +6287880054593</p>
            <script src="https://snapwidget.com/js/snapwidget.js"></script>
            <iframe src="https://snapwidget.com/embed/{{ site.snapwidget }}" class="snapwidget-widget" allowTransparency="true"
                    frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe> -->
        </div>
    </div>
</section>